<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style.css">
         <title>TMC</title>

   <div class="content">
    <header>
        <div class="navbar">
        <div class="logo">TMC</div>
        <nav class="nav">
             <a class="nav_item" href="/">Главная</a>
             <a class="nav_item" href="/about">Про Таск-менеджер</a>
             <a class="nav_item" href="/registration">Регистрация</a>
             <a class="nav_item" href="/login">Авторизация</a>
             <a class="nav_item" href="/logout">Выход</a>
        </nav>

            </div>
               </header>
        </div>

</head>
<body>


{% block body -%}
{% endblock -%}





</body>


</html>